HTML {
	FONT-SIZE: 100.01%
}

SELECT {
	FONT-SIZE: 1em
}

INPUT {
	FONT-SIZE: 1em
}

TEXTAREA {
	FONT-SIZE: 1em
}

PRE {
	FONT-SIZE: 1em
}

IMG {
	BORDER-RIGHT: medium none;
	BORDER-TOP: medium none;
	BORDER-LEFT: medium none;
	BORDER-BOTTOM: medium none
}

BODY {
	MARGIN: 0px
}

SELECT OPTION {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 3px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px
}

.dPSContainer {
	DISPLAY: none;
	FLOAT: right
}

.ClearBoth {
	CLEAR: both
}

.dClear {
	CLEAR: both
}

.clearfix:unknown {
	CLEAR: both;
	DISPLAY: block;
	VISIBILITY: hidden;
	HEIGHT: 0px;
	content: "."
}

.clearfix {
	DISPLAY: block
}

HTML .clearfix {
	HEIGHT: 1%
}

BR.dClear {
	CLEAR: both;
	LINE-HEIGHT: 0.1em
}

#HeaderContainer #adHeader {
	FONT-SIZE: 0pt;
	WIDTH: 100%;
	TEXT-ALIGN: center
}

#adHeader #RadAd_Banner_frame {
	MARGIN: 3px
}

#header {
	WIDTH: 100%
}

#main {
	CLEAR: both;
	PADDING-RIGHT: 6px;
	PADDING-LEFT: 6px;
	PADDING-BOTTOM: 6px;
	PADDING-TOP: 0px
}

#mainLayoutTable {
	BORDER-RIGHT: 0px;
	PADDING-RIGHT: 0px;
	BORDER-TOP: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: 0px;
	BORDER-COLLAPSE: collapse
}

#contentLeftTable {
	BORDER-RIGHT: 0px;
	PADDING-RIGHT: 0px;
	BORDER-TOP: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: 0px;
	BORDER-COLLAPSE: collapse
}

#rightLayoutTable {
	BORDER-RIGHT: 0px;
	PADDING-RIGHT: 0px;
	BORDER-TOP: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: 0px;
	BORDER-COLLAPSE: collapse
}

#contactPickerTable {
	BORDER-RIGHT: 0px;
	PADDING-RIGHT: 0px;
	BORDER-TOP: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: 0px;
	BORDER-COLLAPSE: collapse
}

.dFullWidthTable {
	BORDER-RIGHT: 0px;
	PADDING-RIGHT: 0px;
	BORDER-TOP: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: 0px;
	BORDER-COLLAPSE: collapse
}

.dReadMsgHeaderSec TABLE {
	BORDER-RIGHT: 0px;
	PADDING-RIGHT: 0px;
	BORDER-TOP: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: 0px;
	BORDER-COLLAPSE: collapse
}

#rightLayoutTable {
	WIDTH: 100%
}

#trSecond {
	HEIGHT: 530px
}

#tdAd {
	WIDTH: 160px
}

#tdRight {
	WIDTH: 8px
}

#rightPlaceHolder {
	WIDTH: 8px
}

#rightAdPlaceHolder {
	WIDTH: 160px;
	HEIGHT: 0px
}

#separatorPlaceHolder {
	WIDTH: 4px;
	HEIGHT: 0px
}

#contentMinWidthPlaceHolder {
	WIDTH: 450px;
	HEIGHT: 0px
}

#contentMinWidthPlaceHolderWithOutSkyScraper {
	WIDTH: 306px;
	HEIGHT: 0px
}

#contentWidthPlaceHolder {
	WIDTH: 100%;
	HEIGHT: 0px
}

#contentCenter {
	HEIGHT: auto
}

#footer {
	CLEAR: both;
	WIDTH: 100%;
	HEIGHT: 20px
}

#FooterContainer {
	CLEAR: both;
	PADDING-BOTTOM: 4px;
	MARGIN: auto 7px;
	WIDTH: auto;
	PADDING-TOP: 3px
}

#contentLeft {
	POSITION: relative
}

#toolbar {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	LIST-STYLE-TYPE: none
}

#bottomtoolbar {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	LIST-STYLE-TYPE: none
}

.dToolbarItemNew {
	DISPLAY: block;
	WHITE-SPACE: nowrap
}

.dToolbarItem {
	DISPLAY: block;
	WHITE-SPACE: nowrap
}

.dToolbarItem SELECT {
	MARGIN: 5px 8px 4px
}

.dToolbarItem {
	HEIGHT: auto
}

.dToolbarItem A {
	PADDING-RIGHT: 6px;
	DISPLAY: block;
	PADDING-LEFT: 6px;
	PADDING-BOTTOM: 7px;
	PADDING-TOP: 6px
}

.dToolbarItemNew A {
	PADDING-RIGHT: 6px;
	DISPLAY: block;
	PADDING-LEFT: 6px;
	PADDING-BOTTOM: 7px;
	PADDING-TOP: 6px
}

.dToolbarItemNew SELECT {
	WIDTH: 8em
}

.dToolbarItem SELECT {
	FONT-SIZE: 100%
}

.dToolbarItem IMG {
	VERTICAL-ALIGN: middle
}

#folderList {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	WHITE-SPACE: nowrap;
	LIST-STYLE-TYPE: none
}

#contactGroupList {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	WHITE-SPACE: nowrap;
	LIST-STYLE-TYPE: none
}

#contactGroupList LI A DIV {
	OVERFLOW: hidden;
	WIDTH: 8.8em;
	TEXT-OVERFLOW: ellipsis
}

#shortCut {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	LIST-STYLE-TYPE: none
}

.dManageLnk {
	PADDING-RIGHT: 4px;
	DISPLAY: block;
	PADDING-LEFT: 8px;
	PADDING-BOTTOM: 4px;
	PADDING-TOP: 4px
}

#shortcut LI {
	PADDING-RIGHT: 4px;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 5px;
	CURSOR: pointer;
	PADDING-TOP: 3px
}

.dIndexList {
	PADDING-RIGHT: 4px;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 5px;
	CURSOR: pointer;
	PADDING-TOP: 3px
}

.dIndexListSelected {
	PADDING-RIGHT: 4px;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 5px;
	CURSOR: pointer;
	PADDING-TOP: 3px
}

.dIndexListHover {
	PADDING-RIGHT: 4px;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 5px;
	CURSOR: pointer;
	PADDING-TOP: 3px
}

#contactGroupList LI {
	PADDING-RIGHT: 4px;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 5px;
	CURSOR: pointer;
	PADDING-TOP: 3px
}

#folderList LI {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	OVERFLOW: hidden;
	WIDTH: 100%;
	WHITE-SPACE: nowrap;
	TEXT-OVERFLOW: ellipsis
}

#contentLeft {
	WIDTH: 13.4em
}

#tdContentLeft {
	WIDTH: 13.4em
}

#folderList LI A {
	DISPLAY: block;
	OVERFLOW: hidden;
	WIDTH: 13em;
	HEIGHT: 1.6em;
	TEXT-OVERFLOW: ellipsis
}

#folderList LI .EmptyLinkCaption {
	DISPLAY: block;
	OVERFLOW: hidden;
	WIDTH: 11em
}

#folderList LI A.dIndexListItemEmptyLink IMG {
	MARGIN: 0px
}

.FolderItemNormal {
	CLEAR: both;
	PADDING-RIGHT: 0pt ! important;
	PADDING-LEFT: 0px ! important;
	PADDING-BOTTOM: 2px ! important;
	PADDING-TOP: 3px ! important
}

.FolderItemEmpty {
	CLEAR: both;
	PADDING-RIGHT: 0pt ! important;
	PADDING-LEFT: 0px ! important;
	PADDING-BOTTOM: 2px ! important;
	PADDING-TOP: 3px ! important
}

.FolderItemHover {
	CLEAR: both;
	PADDING-RIGHT: 0pt ! important;
	PADDING-LEFT: 0px ! important;
	PADDING-BOTTOM: 2px ! important;
	PADDING-TOP: 3px ! important
}

.FolderItemSelected {
	CLEAR: both;
	PADDING-RIGHT: 0pt ! important;
	PADDING-LEFT: 0px ! important;
	PADDING-BOTTOM: 2px ! important;
	PADDING-TOP: 3px ! important
}

.dFolderListHeader {
	MARGIN-BOTTOM: 2px
}

.dFolderListHeaderDisp {
	FONT-WEIGHT: bold
}

.dContactGroupListHeaderDisp {
	FONT-WEIGHT: bold
}

.dContactGroupListHeaderDisp {
	PADDING-BOTTOM: 2px;
	PADDING-TOP: 2px
}

.dContactGroupListHeaderLink {
	PADDING-BOTTOM: 2px;
	PADDING-TOP: 2px
}

.dIndexListFolderLink {
	DISPLAY: inline
}

#folderList A {
	DISPLAY: inline
}

.dIndexListItemEmptyLink {
	DISPLAY: inline;
	WIDTH: 10px
}

#contentLeft {
	HEIGHT: 100%
}

#contentLeftTable {
	HEIGHT: 100%
}

#tdContentLeft {
	HEIGHT: 100%
}

#trLeftFirst {
	HEIGHT: 100%
}

#tdContentRight {
	HEIGHT: 100%
}

#rightLayoutTable {
	HEIGHT: 100%
}

#trSecond {
	HEIGHT: 100%
}

HTML #tdContentRight {
	BACKGROUND: #fff;
	WIDTH: 100%
}

#tdContentLeft {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px
}

#tdContentRight {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px
}

.dSideAds {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px
}

#shortCutSeparator {
	HEIGHT: 3px;
	BACKGROUND-COLOR: transparent
}

#contentFolderListSeparator {
	HEIGHT: 4px;
	BACKGROUND-COLOR: transparent
}

.dSideAds {
	VERTICAL-ALIGN: top;
	WIDTH: 300px
}

#RadAd_Today300 {
	PADDING-BOTTOM: 0.69em
}

.StandaloneUpsell {
	PADDING-RIGHT: 8px;
	PADDING-LEFT: 8px;
	PADDING-BOTTOM: 4px;
	MARGIN: 5px 0px 0px;
	PADDING-TOP: 4px
}

#tdbottomToolBar {
	PADDING-TOP: 0px
}

#tdbottomToolBar {
	BORDER-TOP-WIDTH: 0px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	BORDER-RIGHT-WIDTH: 0px
}

#tdToolBar {
	PADDING-BOTTOM: 0px
}

#contentCenter {
	WIDTH: auto
}

.ToolBarList A {
	PADDING-RIGHT: 4px;
	DISPLAY: block;
	PADDING-LEFT: 4px;
	PADDING-BOTTOM: 4px;
	PADDING-TOP: 4px;
	WHITE-SPACE: nowrap
}

HTML .ToolBarList A {
	WIDTH: 1%
}

.ToolBarList A IMG {
	VERTICAL-ALIGN: middle
}

.MenuContainer {
	BORDER-TOP-WIDTH: 1px;
	BORDER-LEFT-WIDTH: 1px;
	Z-INDEX: 100;
	BORDER-BOTTOM-WIDTH: 2px;
	BORDER-RIGHT-WIDTH: 2px
}

.TopSeparator {
	BORDER-TOP: 1px solid
}

.MenuLabel {
	CURSOR: default
}

.ToolsColumnSplitter {
	CURSOR: e-resize
}

.MessageListSplitterPaneRight {
	CURSOR: e-resize
}

.ContactListSplitter {
	CURSOR: e-resize
}

.MessageListSplitterPaneBottom {
	CURSOR: n-resize
}

.MessageList {
	BACKGROUND-COLOR: #fff
}

.AutoCompleteList {
	BORDER-RIGHT: 1px solid;
	BORDER-TOP: 1px solid;
	BORDER-LEFT: 1px solid;
	BORDER-BOTTOM: 1px solid
}

.SentMailContactListItem {
	BORDER-BOTTOM: 1px solid
}

.HoverBox {
	BORDER-BOTTOM: 1px solid
}

.ItemBox {
	BORDER-BOTTOM: 1px solid
}

.Placeholder {
	BORDER-BOTTOM: 1px solid
}

.ContactListItem {
	BORDER-BOTTOM: 1px solid
}

.MessageItemRead {
	BORDER-BOTTOM: 1px solid
}

.MessageItemUnread {
	BORDER-BOTTOM: 1px solid
}

.autoCompleteItem {
	CURSOR: pointer
}

.autoCompleteItemSelected {
	CURSOR: pointer
}

.ListItem {
	CURSOR: pointer
}

.MenuContainer {
	CURSOR: pointer
}

.HoverBox {
	CURSOR: pointer
}

.ItemBox {
	CURSOR: pointer
}

.Placeholder {
	CURSOR: pointer
}

.ContactPickerCommand {
	CURSOR: pointer
}

.FindMailPickerCommand {
	CURSOR: pointer
}

.FindMailCloseButton {
	CURSOR: pointer
}

.ContactPickerHeader IMG {
	CURSOR: pointer
}

.cShortCutList LI {
	CURSOR: pointer
}

.cPagination IMG {
	CURSOR: pointer
}

#folderList .ListItem {
	CURSOR: default
}

.Clean {
	COLOR: #666
}

LI.DisabledText A {
	COLOR: #666
}

.IconCell {
	WIDTH: 30px
}

.HasAttachment .AttachmentCell {
	WIDTH: 30px
}

.ImportanceHigh .ImportanceCell {
	WIDTH: 30px
}

.ImportanceLow .ImportanceCell {
	WIDTH: 30px
}

.MessageReplied .ReplyForwardCell {
	WIDTH: 30px
}

.MessageForwarded .ReplyForwardCell {
	WIDTH: 30px
}

.MessageItemUnread .IconCell {
	WIDTH: 30px
}

.NotInAddressBook .ListItemInner .Name SPAN {
	WIDTH: 30px
}

.InAddressBook .ListItemInner .Name SPAN {
	WIDTH: 30px
}

.ContactPickerCommand {
	TEXT-DECORATION: none
}

.ContactPickerCommand:hover {
	TEXT-DECORATION: none
}

.ListItem A {
	TEXT-DECORATION: none
}

.ListItem A:hover {
	TEXT-DECORATION: none
}

.FindMailPickerCommand {
	TEXT-DECORATION: none
}

.FindMailPickerCommand:hover {
	TEXT-DECORATION: none
}

.Butcon {
	BORDER-RIGHT: 1px solid;
	BORDER-TOP: 1px solid;
	BORDER-LEFT: 1px solid;
	BORDER-BOTTOM: 1px solid
}

.ComposeSubj {
	BORDER-RIGHT: 1px solid;
	BORDER-TOP: 1px solid;
	BORDER-LEFT: 1px solid;
	BORDER-BOTTOM: 1px solid
}

.ToolBarList A {
	MARGIN: 1px
}

A.ToolBarListHover {
	MARGIN: 0px
}

A.ButconHoverNeutral {
	MARGIN: 0px
}

A.ButconHoverRest {
	MARGIN: 0px
}

.ButconHover {
	BORDER-RIGHT: 1px solid;
	BORDER-TOP: 1px solid;
	BORDER-LEFT: 1px solid;
	BORDER-BOTTOM: 1px solid
}

.HipButton {
	BORDER-RIGHT: 1px solid;
	BORDER-TOP: 1px solid;
	BORDER-LEFT: 1px solid;
	BORDER-BOTTOM: 1px solid
}

A.ToolBarListHover {
	BORDER-RIGHT: 1px solid;
	BORDER-TOP: 1px solid;
	BORDER-LEFT: 1px solid;
	BORDER-BOTTOM: 1px solid
}

.ButconHoverNeutral {
	BORDER-RIGHT: 1px solid;
	BORDER-TOP: 1px solid;
	BORDER-LEFT: 1px solid;
	BORDER-BOTTOM: 1px solid
}

A.ButconHoverNeutral {
	BORDER-RIGHT: 1px solid;
	BORDER-TOP: 1px solid;
	BORDER-LEFT: 1px solid;
	BORDER-BOTTOM: 1px solid
}

A.ButconHoverRest {
	BORDER-RIGHT: 1px solid;
	BORDER-TOP: 1px solid;
	BORDER-LEFT: 1px solid;
	BORDER-BOTTOM: 1px solid
}

.FormCheckBox {
	BORDER-RIGHT: medium none;
	BORDER-TOP: medium none;
	BORDER-LEFT: medium none;
	BORDER-BOTTOM: medium none
}

.cContactHeader .cDisplayName {
	FONT-SIZE: 1.09em
}

.ContactsEditPane .cEditHeader {
	FONT-SIZE: 1.09em
}

.cProgramModule {
	FONT-SIZE: 1.09em
}

.FindSection A:hover {
	TEXT-DECORATION: none
}

.FindMailButton {
	PADDING-RIGHT: 5px;
	DISPLAY: block;
	PADDING-LEFT: 5px;
	FLOAT: left;
	COLOR: #fff;
	HEIGHT: 20px
}

.SearchSection {
	MARGIN-BOTTOM: 0px
}

.SearchSection UL {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px
}

.SearchButtonBorder {
	BORDER-RIGHT: #4b7c9f 1px solid;
	BORDER-TOP: #4b7c9f 1px solid;
	BORDER-LEFT: #4b7c9f 1px solid;
	BORDER-BOTTOM: #4b7c9f 1px solid
}

.SearchSection BUTTON {
	BORDER-RIGHT: 0px;
	BACKGROUND-POSITION: center 50%;
	BORDER-TOP: 0px;
	BORDER-LEFT: 0px;
	CURSOR: pointer;
	BORDER-BOTTOM: 0px;
	HEIGHT: 20px
}

.SearchButton {
	BORDER-RIGHT: 0px;
	BACKGROUND-POSITION: center 50%;
	BORDER-TOP: 0px;
	BORDER-LEFT: 0px;
	CURSOR: pointer;
	BORDER-BOTTOM: 0px;
	HEIGHT: 20px
}

.SearchSection BUTTON {
	PADDING-RIGHT: 4px;
	PADDING-LEFT: 4px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px
}

.SearchButton {
	PADDING-RIGHT: 7px;
	PADDING-LEFT: 7px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px
}

.SearchSection #q {
	VERTICAL-ALIGN: middle;
	WIDTH: 200px;
	HEIGHT: 22px
}

.SearchSection .go {
	BORDER-RIGHT: #4b7c9f 1px solid;
	BORDER-TOP: #4b7c9f 1px solid;
	VERTICAL-ALIGN: middle;
	BORDER-LEFT: #4b7c9f 1px solid;
	WIDTH: 23px;
	BORDER-BOTTOM: #4b7c9f 1px solid;
	HEIGHT: 20px
}

.SearchSection LABEL {
	DISPLAY: none
}

#header .BrandSection A.jewel IMG {
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	VISIBILITY: hidden;
	VERTICAL-ALIGN: top;
	BORDER-LEFT: 0px;
	BORDER-BOTTOM: 0px
}

#header .BrandSection SPAN.flag IMG {
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	VISIBILITY: hidden;
	VERTICAL-ALIGN: top;
	BORDER-LEFT: 0px;
	BORDER-BOTTOM: 0px
}

#header .BrandSection .FromPartner {
	FONT-SIZE: 12px;
	VERTICAL-ALIGN: middle;
	LINE-HEIGHT: 12px
}

#header .BrandSection A.jewelB IMG {
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	VISIBILITY: hidden;
	VERTICAL-ALIGN: bottom;
	BORDER-LEFT: 0px;
	BORDER-BOTTOM: 0px
}

#header .BrandSection SPAN.flag IMG {
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	VISIBILITY: hidden;
	VERTICAL-ALIGN: bottom;
	BORDER-LEFT: 0px;
	BORDER-BOTTOM: 0px
}

#pagebg {
	CLEAR: both;
	MARGIN-TOP: 20px;
	Z-INDEX: -1;
	BACKGROUND: no-repeat 50% top;
	MARGIN-BOTTOM: -618px;
	POSITION: absolute;
	HEIGHT: 618px
}

.PoweredBy IMG {
	VISIBILITY: hidden
}

.WLFlag IMG {
	VISIBILITY: hidden
}

#header .BrandSection .Menu {
	DISPLAY: none
}

#header .tm {
	FONT-SIZE: 6px;
	VERTICAL-ALIGN: super
}

#header .BrandSection .BottomRow {
	MARGIN-TOP: 3px
}

#header .MeSection SPAN {
	VERTICAL-ALIGN: middle;
	WHITE-SPACE: nowrap
}

#header .DIV {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px
}

#DistributionCobrand .Beta {
	RIGHT: auto;
	LEFT: 103%;
	TOP: 0.8em
}

.Beta {
	FONT-SIZE: 12px;
	RIGHT: 0px;
	COLOR: #ee2037;
	LINE-HEIGHT: 16px;
	POSITION: absolute;
	TOP: 1.2em
}

#JointCobrand #Logo {
	WIDTH: 65px;
	POSITION: absolute;
	HEIGHT: 36px
}

#DistributionCobrand #Logo {
	WIDTH: 200px;
	HEIGHT: 20px
}

#TechnologyCobrand #Logo {
	BACKGROUND-POSITION: 0px 1px;
	WIDTH: 159px;
	POSITION: absolute;
	TOP: 0px;
	HEIGHT: 36px
}

#LiveMenu UL {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	LIST-STYLE-TYPE: none
}

#LiveMenu UL.main {
	MARGIN: 0.25em;
	WIDTH: 15.5em;
	BACKGROUND-COLOR: #ffffff
}

#LiveMenu UL.main A {
	PADDING-RIGHT: 0.25em;
	DISPLAY: block;
	PADDING-LEFT: 0.25em;
	PADDING-BOTTOM: 0.5em;
	COLOR: #444444;
	PADDING-TOP: 0.5em
}

#LiveMenu IMG {
	MARGIN: 0px 0.25em;
	VERTICAL-ALIGN: middle
}

#LiveMenu UL.main LI {
	HEIGHT: 100%
}

#LiveMenu UL.main LI.sep {
	BORDER-TOP: #aaa 1px solid;
	FONT-SIZE: 0px;
	MARGIN: 0px 8px;
	LINE-HEIGHT: 0;
	HEIGHT: 0px
}

#LiveMenu UL.main LI.sel {
	BACKGROUND-COLOR: #cde7f5
}

.Shortcuts {
	BORDER-RIGHT: 1px solid;
	BORDER-TOP: 1px solid;
	BORDER-LEFT: 1px solid;
	BORDER-BOTTOM: 0px solid
}

.Shortcuts A {
	BORDER-BOTTOM: 1px solid
}

.cToolsCustomerCommunication {
	BACKGROUND-COLOR: white
}

.ToolbarSeparator {
	BACKGROUND-COLOR: white
}

.TodayHeaderStorageMeter .StorageMeterText .NewsletterLink IMG {
	VERTICAL-ALIGN: top;
	MARGIN-RIGHT: 4px
}

#MsnTodayTab {
	POSITION: relative
}

#edtab A:hover {
	TEXT-DECORATION: underline
}

#edtab A:hover SPAN {
	TEXT-DECORATION: underline
}

#edtab {
	OVERFLOW-Y: auto;
	PADDING-LEFT: 2px;
	OVERFLOW-X: hidden;
	WIDTH: auto
}

#edtab BR.b3 {
	DISPLAY: none
}

#edtab BR.b4 {
	DISPLAY: none
}

#edtab BR.b5 {
	DISPLAY: none
}

#edtab .news100 {
	CLEAR: both;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 2px;
	PADDING-BOTTOM: 4px;
	OVERFLOW: hidden;
	WIDTH: 274px;
	PADDING-TOP: 4px;
	max-width: 320px
}

#edtab .news100 IMG {
	CLEAR: both;
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	FLOAT: left;
	BORDER-LEFT: 0px;
	MARGIN-RIGHT: 5px;
	BORDER-BOTTOM: 0px
}

#edtab .news100 .title {
	DISPLAY: block;
	FONT-WEIGHT: bold
}

#edtab .news100 .desc {
	DISPLAY: block
}

#edtab .news50 {
	PADDING-RIGHT: 4px;
	PADDING-LEFT: 4px;
	FLOAT: left;
	PADDING-BOTTOM: 4px;
	WIDTH: 165px;
	PADDING-TOP: 4px
}

#edtab .left {
	CLEAR: both;
	FLOAT: left
}

#edtab .news50 IMG {
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	FLOAT: left;
	BORDER-LEFT: 0px;
	MARGIN-RIGHT: 5px;
	BORDER-BOTTOM: 0px
}

#edtab .news50 .title {
	DISPLAY: block;
	FONT-WEIGHT: bold
}

#edtab .news50 .desc {
	DISPLAY: block
}

.cOptionToolbarContainer UL {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FLOAT: right;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	LIST-STYLE-TYPE: none
}

.cOptionToolbarContainer LI {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FLOAT: right;
	PADDING-BOTTOM: 0px;
	MARGIN: 5px 8px 0px 0px;
	PADDING-TOP: 0px
}

.cOptionToolbarContainer IMG {
	VERTICAL-ALIGN: middle
}

.TodayUpsell SPAN A {
	COLOR: #0068cf
}

.TodayTabContainer .TabContentContainer A {
	COLOR: #0068cf
}

.TodayUpsell A {
	COLOR: #0068cf
}

.TodayUpsell SPAN A {
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	BORDER-LEFT: 0px;
	CURSOR: hand;
	BORDER-BOTTOM: 0px
}

.cProgramModule {
	MARGIN: 10px
}

.cProgramModule DIV {
	MARGIN: 8px 0px
}

.cProgramModule A {
	TEXT-DECORATION: underline
}

.cProgramModule P {
	MARGIN: 8px 0px
}

.TodayHeaderGreetingDate {
	DISPLAY: inline;
	POSITION: relative
}

.TodayModuleContainer {
	PADDING-RIGHT: 0.5em;
	PADDING-LEFT: 0.5em;
	PADDING-BOTTOM: 0.5em;
	MARGIN: 0.5em 0px;
	PADDING-TOP: 0.5em
}

.First {
	MARGIN-TOP: 0px
}

.TodayModuleContainer H2 {
	FONT-WEIGHT: normal;
	FONT-SIZE: 1.5em;
	MARGIN: 0px 0px 0.5em
}

.TodayModuleContainer H3 {
	FONT-WEIGHT: normal;
	FONT-SIZE: 1.5em;
	MARGIN: 0px 0px 0.5em
}

.TodayModuleContainer H3 {
	FONT-SIZE: 1.1em
}

.TodayModuleContainer UL {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	LIST-STYLE-TYPE: none
}

.TodayModuleContainer LI {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0.25em;
	PADDING-TOP: 0.25em
}

.TodayModuleContainer LI IMG {
	VERTICAL-ALIGN: middle
}

.TodayModuleContainer UL.NotExpanded LI.Collapsible {
	DISPLAY: none
}

.TodayModuleContainer UL LI.MoreLink {
	DISPLAY: none
}

.TodayModuleContainer UL.NotExpanded LI.MoreLink {
	DISPLAY: block
}

.TodayModuleContainer UL LI.Collapsible {
	DISPLAY: block
}

.ContactsModule LI IMG {
	PADDING-RIGHT: 2px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 2px;
	WIDTH: 16px;
	PADDING-TOP: 2px;
	HEIGHT: 16px
}

.SpacesModule LI {
	MARGIN-LEFT: 16px
}

.SpacesModule LI.MoreLink {
	MARGIN-LEFT: 0px
}

.SpacesModule LI.NoItems {
	MARGIN-LEFT: 0px
}

.StorageMeterModule {
	MARGIN-TOP: 0em
}

.StorageMeterModule .Container {
	BORDER-RIGHT: #808080 1px solid;
	BORDER-TOP: #808080 1px solid;
	BORDER-LEFT: #808080 1px solid;
	WIDTH: 30em;
	BORDER-BOTTOM: #808080 1px solid
}

.StorageMeterModule .Container .Bar {
	BORDER-RIGHT: white 1px solid;
	BORDER-TOP: white 1px solid;
	BORDER-LEFT: white 1px solid;
	BORDER-BOTTOM: white 1px solid;
	HEIGHT: 1em;
	BACKGROUND-COLOR: #1aab1f
}

.ContactsModule {
	MARGIN: 0.5em 0em;
	WIDTH: 40%
}

.SpacesModule {
	MARGIN: 0.5em 0em;
	WIDTH: 40%
}

.NewslettersModule {
	WIDTH: 80%
}

.TodayContainerPadding {
	PADDING-RIGHT: 8px;
	PADDING-LEFT: 8px;
	PADDING-BOTTOM: 4px;
	PADDING-TOP: 4px
}

.TodayHeaderStorageMeter {
	DISPLAY: block;
	PADDING-TOP: 4px
}

.TodayHeaderStorageMeter .StorageMeterBar {
	BORDER-RIGHT: #808080 1px solid;
	BORDER-TOP: #808080 1px solid;
	FONT-SIZE: 0.55em;
	BORDER-LEFT: #808080 1px solid;
	WIDTH: 40%;
	BORDER-BOTTOM: #808080 1px solid;
	BACKGROUND-COLOR: white
}

.TodayHeaderStorageMeter .StorageMeterBar .Bar {
	BORDER-RIGHT: white 1px solid;
	BORDER-TOP: white 1px solid;
	BORDER-LEFT: white 1px solid;
	BORDER-BOTTOM: white 1px solid;
	HEIGHT: 1em;
	BACKGROUND-COLOR: #1aab1f
}

.TodayHeaderStorageMeter .StorageMeterText {
	MARGIN-TOP: 4px;
	DISPLAY: block;
	MARGIN-BOTTOM: 5px
}

.TodayHeaderStorageMeter .StorageMeterText .MeterText {
	DISPLAY: inline
}

.TodayHeaderStorageMeter .StorageMeterText .NewsletterLink {
	DISPLAY: inline
}

.TodayTabContainer {
	HEIGHT: 100%
}

.TabContentContainer {
	HEIGHT: 100%
}

.TodayTabContainer .TabHeaders {
	PADDING-RIGHT: 0px;
	DISPLAY: block;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	WIDTH: 100%;
	PADDING-TOP: 0px
}

.TodayTabContainer .TabHeaders .TabHeaderUnselected {
	DISPLAY: block;
	FONT-WEIGHT: bold;
	MARGIN: 0px;
	WIDTH: 32%;
	WHITE-SPACE: nowrap;
	HEIGHT: auto;
	TEXT-OVERFLOW: ellipsis;
	TEXT-ALIGN: center
}

.TodayTabContainer .TabHeaders .TabHeaderSelected {
	DISPLAY: block;
	FONT-WEIGHT: bold;
	MARGIN: 0px;
	WIDTH: 32%;
	WHITE-SPACE: nowrap;
	HEIGHT: auto;
	TEXT-OVERFLOW: ellipsis;
	TEXT-ALIGN: center
}

.TodayTabContainer .TabHeaders .TabHeaderUnselected {
	PADDING-RIGHT: 1px;
	PADDING-LEFT: 1px;
	PADDING-BOTTOM: 1px;
	CURSOR: pointer;
	PADDING-TOP: 1px
}

.TodayTabContainer .TabHeaders .TabHeaderUnselected A {
	COLOR: #ffffff
}

.TodayTabContainer .TabHeaders .TabHeaderUnselected DIV {
	PADDING-BOTTOM: 3px;
	WIDTH: 100%;
	PADDING-TOP: 3px;
	BACKGROUND-COLOR: #bec6c7
}

.TodayTabContainer .TabHeaders .TabHeaderSelected {
	BORDER-RIGHT: #bfbfbf 1px solid;
	PADDING-RIGHT: 0px;
	BORDER-TOP: #bfbfbf 1px solid;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	BORDER-LEFT: #bfbfbf 1px solid;
	PADDING-TOP: 0px
}

.TodayTabContainer .TabHeaders .TabHeaderSelected A {
	CURSOR: default;
	COLOR: #333333
}

.TodayTabContainer .TabHeaders .TabHeaderSelected DIV {
	PADDING-BOTTOM: 7px;
	WIDTH: 100%;
	PADDING-TOP: 0px;
	POSITION: relative;
	TOP: 3px;
	BACKGROUND-COLOR: #ffffff
}

.TodayTabContainer .TabContentContainer {
	BORDER-RIGHT: #bfbfbf 1px solid;
	BORDER-TOP: #bfbfbf 1px solid;
	BORDER-LEFT: #bfbfbf 1px solid;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #bfbfbf 1px solid
}

.TodayTabContainer .TabContentContainer .TabContentSelected {
	DISPLAY: block
}

.DisplayNoneLabel {
	DISPLAY: none
}

#RadAd_SMC600 DIV {
	DISPLAY: none
}

#RadAd_Today300 DIV {
	DISPLAY: none
}

.TodayTabContainer .TabContentContainer .TabContentUnselected {
	DISPLAY: none
}

.TodayTabContainer {
	BORDER-BOTTOM: medium none
}

.TodayHeaderGreetingDate {
	DISPLAY: inline;
	POSITION: relative
}

.composeTable {
	WIDTH: 100%
}

.dComposeHeader {
	WIDTH: 100%
}

.dFullWidthTable {
	WIDTH: 100%
}

DIV.Row {
	CLEAR: both
}

DIV.Value SPAN {
	COLOR: #808080
}

.cContactHeader {
	PADDING-RIGHT: 0em;
	PADDING-LEFT: 10.33em;
	PADDING-BOTTOM: 1.33em;
	PADDING-TOP: 1.42em
}

.cEditHeader {
	PADDING-RIGHT: 1em;
	PADDING-LEFT: 1em;
	PADDING-BOTTOM: 1em;
	PADDING-TOP: 0em
}

.cContactHeader .cDisplayName {
	FONT-WEIGHT: bold;
	FONT-SIZE: 1.09em
}

.cEditHeader {
	FONT-WEIGHT: bold;
	FONT-SIZE: 1.09em
}

.dContactsContainer {
	PADDING-TOP: 1.5em
}

DIV.Label {
	WIDTH: 14em
}

DIV.Value {
	PADDING-RIGHT: 0em;
	PADDING-LEFT: 0em;
	PADDING-BOTTOM: 0.45em;
	PADDING-TOP: 0em
}

DIV.Values {
	PADDING-RIGHT: 0em;
	PADDING-LEFT: 0em;
	PADDING-BOTTOM: 0.45em;
	PADDING-TOP: 0em
}

DIV.Label {
	PADDING-RIGHT: 0em;
	PADDING-LEFT: 0em;
	PADDING-BOTTOM: 0.45em;
	PADDING-TOP: 0em
}

.dContactsContainer DIV.Label {
	PADDING-RIGHT: 0em;
	PADDING-LEFT: 0em;
	PADDING-BOTTOM: 0.45em;
	WIDTH: 11em;
	PADDING-TOP: 0em
}

.dContactsContainer DIV.Value {
	PADDING-BOTTOM: 0.45em;
	PADDING-TOP: 0em
}

.dContactsContainer DIV.Values {
	PADDING-BOTTOM: 0.45em;
	PADDING-TOP: 0em
}

DIV.cDisplayName {
	HEIGHT: 1.2em
}