div#mailRightBar {
	width: 20%;
	min-height: 400px;
	_min-height: 400px;
	float: right;
}

div#mailBody {
	width: 79%;
}

form {
	width: 100%;
	margin: 1em auto 0em auto;
}

form ul {
	margin-top: 1em;
	width: 80%;
}

form ul li {
	display: block;
	margin-bottom: 1em;
	vertical-align: top;
}

form ul li label {
	margin-top: 0px;
	vertical-align: top;
	display: inline-block;
	min-width: 5em;
	_width: 5em;
}

form ul li input {
	width: 12em;
}

form ul li textarea {
	width: 40em;
	height: 20em;
}

#formContent {
	padding: 2em;
}

a.back {
	background-image: url('../images/widgets/back.png');
}

a.upload {
	background-image: url('../images/widgets/upload.png');
}

a.download {
	background-image: url('../images/widgets/download.png');
}

a.create {
	background-image: url('../images/widgets/create.png');
}

a.delete {
	background-image: url('../images/widgets/delete.png');
}

a.find {
	background-image: url('../images/widgets/find.png');
}