
/**//*按钮样式*/
.ButtonCss{
font-family: "Tahoma", "宋体";
font-size:9pt; color: #003399;
border: 1px #003399 solid;
color:006699;
BORDER-BOTTOM: #93bee2 1px solid; 
BORDER-LEFT: #93bee2 1px solid; 
BORDER-RIGHT: #93bee2 1px solid; 
BORDER-TOP: #93bee2 1px solid;
background-image:url(../Images/bluebuttonbg.gif);
background-color: #e8f4ff;
CURSOR: hand;
font-style: normal ;
width:100px;
height:22px;
}

/**//*绿色按钮样式*/
.greenButtonCss{
font-family: "Tahoma", "宋体";
font-size: 9pt; color: #0066cc;
border: 1px #93bee2 solid;
BORDER-BOTTOM: #93bee2 1px solid; 
BORDER-LEFT: #93bee2 1px solid; 
BORDER-RIGHT: #93bee2 1px solid; 
BORDER-TOP: #93bee2 1px solid;
background-image:url(../Images/greenbuttonbg.gif);
background-color: #ffffff;
CURSOR: hand;
font-style: normal ;
}
/**//*图像按钮*/
.imageButton{
CURSOR: hand; /**//*改变鼠标形状*/
}


/**//*选择按钮样式*/
.selectButtonCss{
    font-family: "Tahoma", "宋体";
    font-size: 9pt; color: #0066cc;
    border: 1px #93bee2 solid;
    BORDER-BOTTOM: #93bee2 1px solid; 
    BORDER-LEFT: #93bee2 1px solid; 
    BORDER-RIGHT: #93bee2 1px solid; 
    BORDER-TOP: #93bee2 1px solid;
    background-image:url(../Images/blue_button_bg.gif);
    background-color: #ffffff;
    CURSOR: hand;
    font-style: normal ;
}

/**//*****************************************************
线条文本编辑框显示风格
*****************************************************/
.EditBox{
background: #ffffff; 
border: 1px solid #B7B7B7;
color: #003366;
cursor: text;
font-family: "Arial";
font-size: 9pt;
height: 18px;
padding: 1px;
}
/**//****************************************************
多行文本框样式
*****************************************************/
.MultiEditBox{
background: #f8f8f8;
border-bottom: #B7B7B7 1px solid;
border-left: #B7B7B7 1px solid;
border-right: #B7B7B7 1px solid;
border-top: #B7B7B7 1px solid;
color: #000000;
cursor: text;
font-family: "Arial";
font-size: 9pt;
padding: 1px;
}

/**//*****************************************************
阴影风格的表单
*****************************************************/
.Shadow{
position:absolute;
z-index:1000;
top:0px;
left:0px;
background:gray;
background-color:#FFCC00;
filter : progid:DXImageTransform.Microsoft.DropShadow(color=#FF404040,offX=2,offY=2,positives=true);
}


.STYLE1 {	color: #0F3A3A;
	font-weight: bold;
	font-size: 16px;
}
.findof {border: 0px solid #999999;
}
body,td,th {
	font-size: 12px;
}
a:link {
	color: #FF0000;
}
a:visited {
	color: #FF0000;
}
a:hover {
	color: #CCCCCC;
}
a:active {
	color: #CCCCCC;
}


BODY {
	color: #000000; TEXT-ALIGN: left 
}
TD {
	FONT-WEIGHT: lighter; FONT-SIZE: 12px;  LINE-HEIGHT: 180%; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
#menu {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
#menu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#menu LI {
	
}
#menu LI A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 15px; PADDING-BOTTOM: 5px; WIDTH: 100%; COLOR: #666666; PADDING-TOP: 5px; TEXT-DECORATION: none
}
#menu LI A:link {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
#menu LI A:hover {
	BACKGROUND-POSITION: 2px 8px; BACKGROUND-IMAGE: url(../img/zhibiao.gif); COLOR: #ff0000; BACKGROUND-REPEAT: no-repeat
}
#menu1 {
	
}
#menu1 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#menu1 LI {
	
}
#menu1 LI A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 15px; PADDING-BOTTOM: 5px; WIDTH: 100%; COLOR: #666666; PADDING-TOP: 5px; TEXT-DECORATION: none
}
#menu1 LI A:link {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
#menu1 LI A:hover {
	BACKGROUND-POSITION: 2px 8px; BACKGROUND-IMAGE: url(../img/zhibiao.gif); COLOR: #ff0000; BACKGROUND-REPEAT: no-repeat
}
.content_top A {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.content_top A:link {
	COLOR: #333333}
.content_top A:hover {
	COLOR: #ff0000
}
.dh {
	FONT-SIZE: 12px; COLOR: #666666; BORDER-BOTTOM: #666666 1px solid; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.content_right A {
	FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: "宋体"; font-weight:bold; TEXT-DECORATION: none
}
.content_right A:link {
	 font-weight:bold
}
.content_right A:hover {
	COLOR: #ff0000; font-weight:bold; TEXT-DECORATION: none
}
.dh {
	FONT-SIZE: 14px; COLOR: #666666; BORDER-BOTTOM: #666666 1px solid; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.dh A {
	DISPLAY: block; LINE-HEIGHT: 240%
}
.dh A:link {
	FONT-SIZE: 12px; COLOR: #666666; TEXT-DECORATION: none
}
.dh A:visited {
	FONT-SIZE: 12px; COLOR: #666666; TEXT-DECORATION: none
}
.dh A:hover {
	FONT-WEIGHT: lighter; FONT-SIZE: 12px; COLOR: #ff0000; BACKGROUND-COLOR: #ebebeb; TEXT-DECORATION: none
}
#middle_line {
	BORDER-RIGHT: #999999 1px dashed; VERTICAL-ALIGN: top; TEXT-ALIGN: left
}
#right_title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; COLOR: #666666; BACKGROUND-COLOR: #f0f0f0; TEXT-ALIGN: center
}
#1_title {
	FONT-WEIGHT: bolder; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; COLOR: #666666; BACKGROUND-COLOR: #f0f0f0; TEXT-ALIGN: center
}
#c_content {
	FONT-WEIGHT: lighter; VERTICAL-ALIGN: middle; LINE-HEIGHT: 150%; TEXT-ALIGN: left; TEXT-DECORATION: underline}
#c_content A {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline}
#c_content A:link {
	COLOR: #666666
}
#c_content A:hover {
	COLOR: #ff0000
}
#right_content {
	FONT-WEIGHT: lighter; VERTICAL-ALIGN: middle; LINE-HEIGHT: 130%; TEXT-ALIGN: left; TEXT-DECORATION: none
}
#right_content A {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
#right_content A:link {
	COLOR: #333333}
#right_content A:hover {
	COLOR: #FF0000}	
#1_content A {
	FONT-SIZE: 12px; COLOR: #006aa7; FONT-FAMILY: "宋体"
}
#1_content A:link {
	COLOR: #006aa7
}
#1_content A:hover {
	COLOR: #ff0000
}
#bottom {
	VERTICAL-ALIGN: middle; COLOR: #666666; TEXT-ALIGN: center
}

#2_content B:link {
	COLOR: #ff0000
}
#2_content B:hover {
	COLOR: #ff0000
}
A:link {
	COLOR: #000000; FONT-SIZE: 12px;  FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000 ;FONT-SIZE: 12px;  FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
	}
body {
	background-color: #FFFFFF;
	margin: 0px;
}
.tablebd {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.table {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
}
.F7 {
	FONT-SIZE: 7px
}

TD {
	FONT-SIZE: 12px; FONT-FAMILY: "宋体"
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FONT-FAMILY: 宋体,arial
}
INPUT.bt1 {
	BORDER-RIGHT: #cbcbcb 1px solid; BORDER-TOP: #cbcbcb 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #cbcbcb 1px solid; COLOR: #000000; LINE-HEIGHT: normal; BORDER-BOTTOM: #cbcbcb 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #FFFFFF}
INPUT.bt2 {
	BORDER-RIGHT: #cbcbcb 1px solid; BORDER-TOP: #cbcbcb 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #cbcbcb 1px solid; COLOR: #000000; LINE-HEIGHT: normal; BORDER-BOTTOM: #cbcbcb 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #f8f8f8
}
INPUT.txt1 {
	BORDER-RIGHT: #eeeeee 0px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #eeeeee 0px solid; WIDTH: 64px; COLOR: #000000; LINE-HEIGHT: normal; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #eeeeee
}
.large {
	FONT-SIZE: 12px; COLOR: #FF7D44; FONT-FAMILY: "宋体"; font-weight:bold; TEXT-DECORATION: none 
}
.large_2 {
	FONT-SIZE: 12px; COLOR: #3d7eb6; FONT-FAMILY: "宋体"; font-weight:bold; TEXT-DECORATION: none 
}
.large_3 {
	FONT-SIZE: 12px; COLOR: #539ED8; FONT-FAMILY: "宋体"; font-weight:bold; TEXT-DECORATION: none 
}
.large_4 {
	FONT-SIZE: 14px; COLOR: #FF0000; FONT-FAMILY: "宋体"; font-weight:bold; TEXT-DECORATION: none 
}
.large_5 {
	FONT-SIZE: 12px; COLOR: #1E88CC; FONT-FAMILY: "宋体"; font-weight:bold; TEXT-DECORATION: none 
}
.large_6 {
	FONT-SIZE: 12px; COLOR: #AD6F39; FONT-FAMILY: "宋体"; font-weight:bold; TEXT-DECORATION: none 
}
.large_7 {
	FONT-SIZE: 12px; COLOR: #FFFFFF; FONT-FAMILY: "宋体"; font-weight:bold; TEXT-DECORATION: none 
}

.tablebgcl {FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#EEEEEE', endColorStr='#FFFFFF', gradientType='0')}
.leftDownAndRight {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #63AFFB;
	border-bottom-color: #63AFFB;
	border-left-color: #63AFFB;
	border-top-color: #63AFFB;
}
.leftAndTop {
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #63AFFB;
	border-right-color: #63AFFB;
	border-bottom-color: #63AFFB;
	border-left-color: #63AFFB;
}
.tableLeftDown {
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #63AFFB;
	border-right-color: #63AFFB;
	border-bottom-color: #63AFFB;
	border-left-color: #63AFFB;
	border-top-width: 1px;
}
.button_css {
	FONT-SIZE: 12px;




FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#B3D997);
	CURSOR: hand;
	COLOR: #000000;
	background-image: url(../manager2/baseinfo/images/delete.gif);
	background-position: center center;
	word-spacing: normal;
	border: 1px inset #7EBF4F;
	background-color: #C7DCD7;
	font-weight: lighter;
	font-family: "新宋体";
	font-style: normal;
	letter-spacing: normal;
	padding-top: 3px;
	padding-right: 1px;
	padding-bottom: 0px;
	padding-left: 1px;
}
.table_top {
	margin: 1px;
	padding: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #63AFFB;
	border-right-color: #63AFFB;
	border-bottom-color: #63AFFB;
	border-left-color: #63AFFB;
}

