.ApplicationReach {
	OVERFLOW: auto
}
DIV.AddFields {
	DISPLAY: none
}
DIV.cEditRow {
	MARGIN-BOTTOM: 3px
}
DIV.cEditRow TEXTAREA {
	WIDTH: 20em; HEIGHT: 5em
}
DIV.cEditRow DIV.NotEligible {
	DISPLAY: none
}
 HTML .dErrorPriHigh {
	MARGIN-TOP: 0px
}
 HTML .dErrorPriMedium {
	MARGIN-TOP: 0px
}
 HTML .dErrorPriLow {
	MARGIN-TOP: 0px
}
.dErrorPriHigh {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; HEIGHT: 2.3em; BORDER-RIGHT-WIDTH: 1px
}
.dErrorPriMedium {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; HEIGHT: 2.3em; BORDER-RIGHT-WIDTH: 1px
}
.dErrorPriLow {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; HEIGHT: 2.3em; BORDER-RIGHT-WIDTH: 1px
}
.dErrorPriHigh {
	BACKGROUND-COLOR: #ffaeb9
}
.dErrorPriHigh BUTTON {
	BACKGROUND-COLOR: #ffaeb9
}
.dErrorPriMedium {
	BACKGROUND-COLOR: #ffffae
}
.dErrorPriMedium BUTTON {
	BACKGROUND-COLOR: #ffffae
}
.dErrorPriLow {
	BACKGROUND-COLOR: #fff
}
.dErrorPriLow BUTTON {
	BACKGROUND-COLOR: #fff
}
.InfoPane #error .dErrorPriMedium {
	CLEAR: both; PADDING-RIGHT: 0.64em; PADDING-LEFT: 0.64em; PADDING-BOTTOM: 0.55em; PADDING-TOP: 0.55em
}
.dErrorImg {
	MARGIN-TOP: -1px
}
.nonThemedLinks {
	COLOR: #0068cf
}
.dReadMsgHeaderSender A {
	COLOR: #0068cf
}
#error BUTTON {
	COLOR: #0068cf
}
#error A {
	COLOR: #0068cf
}
.dSafetyBarItem A {
	COLOR: #0068cf
}
.dReadMsgHeaderAttachment A {
	COLOR: #0068cf
}
.TodayUpsell SPAN A {
	COLOR: #0068cf
}
.TodayTabContainer .TabContentContainer A {
	COLOR: #0068cf
}
.TodayUpsell A {
	COLOR: #0068cf
}
.ContactPickerInlineList LI A {
	COLOR: #0068cf
}
.dReadMsgBody A {
	COLOR: #0068cf
}
.dAlphaPicker A {
	COLOR: #0068cf
}
#error BUTTON {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; CURSOR: hand; BORDER-BOTTOM: 0px
}
#error A {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; CURSOR: hand; BORDER-BOTTOM: 0px
}
.dSafetyBarItem A {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; CURSOR: hand; BORDER-BOTTOM: 0px
}
.dReadMsgHeaderAttachment A {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; CURSOR: hand; BORDER-BOTTOM: 0px
}
.TodayUpsell SPAN A {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; CURSOR: hand; BORDER-BOTTOM: 0px
}
#HeaderContainer {
	MARGIN-BOTTOM: -10px
}
.cAdBannerContainer {
	PADDING-RIGHT: 0.31em; PADDING-LEFT: 0.31em; PADDING-BOTTOM: 0.31em; PADDING-TOP: 0.31em; TEXT-ALIGN: center
}
 HTML .cHeaderUserIdentity {
	MARGIN-BOTTOM: 9px
}
#inlineContactPicker {
	WIDTH: 177px; PADDING-TOP: 3px; HEIGHT: 100%; BACKGROUND-COLOR: white
}
#contactPickerTable {
	HEIGHT: 100%
}
.dSpellCheckerHeader {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.dContactPickerHeader {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.dContactPickerBody {
	
}
.dContactPickerBodyTable {
	WIDTH: 100%
}
.dContactPickerBodyTable TR {
	HEIGHT: 1.5em
}
.dContactPickerBodyTable TR TD INPUT {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.dContactPickerBodyCheckBoxCol {
	PADDING-BOTTOM: 5px; WIDTH: 35px; PADDING-TOP: 5px; TEXT-ALIGN: center
}
 HTML .dContactPickerBodyCheckBoxCol {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.dContactPickerBodyNameCol {
	FONT-WEIGHT: bold; WIDTH: 35%
}
.dContactPickerBodyEmailCol {
	
}
.dContactPickerFooterItem {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.dAttachmentFooterItem {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.dContactPickerFooterItem INPUT {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; CURSOR: pointer; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: white
}
.dAttachmentFooterItem INPUT {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; CURSOR: pointer; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: white
}
.dContactPickerFooterItemImg {
	PADDING-TOP: 3px
}
.dAttachmentFooterItemImg {
	PADDING-TOP: 3px
}
.dContactPickerFooterItemButton {
	PADDING-TOP: 2px
}
.AttachmentFooterItemButton {
	PADDING-TOP: 2px
}
.dUploadedAttachment {
	WIDTH: 200px; LIST-STYLE-TYPE: none
}
.dEditMessageTrendLogo {
	WIDTH: 53px
}
.dEditMessageMiscInfo {
	WHITE-SPACE: nowrap
}
#attachmentBodyTable {
	WIDTH: auto
}
#attatchmentList {
	LIST-STYLE-TYPE: none
}
.dAttachMoreButtonItem {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; HEIGHT: 2.8em
}
.dSaveAttachmentInSentMessage {
	
}
.dAttachMoreButton {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; BACKGROUND: #ffffff; PADDING-BOTTOM: 0em; OVERFLOW: visible; BORDER-TOP-STYLE: ridge; PADDING-TOP: 0em; BORDER-RIGHT-STYLE: ridge; BORDER-LEFT-STYLE: ridge; HEIGHT: 2em; BORDER-BOTTOM-STYLE: ridge
}
.dAttachmentIndex {
	WIDTH: 3em; PADDING-TOP: 2px
}
 HTML {
	MARGIN-BOTTOM: 0px
}
.dAttachmentItem {
	WIDTH: 90%; HEIGHT: 1.7em
}
.cInfoPane {
	CLEAR: both; PADDING-RIGHT: 0.64em; PADDING-LEFT: 0.64em; PADDING-BOTTOM: 0.55em; PADDING-TOP: 0.55em
}
.cInfoPane .cExtended {
	PADDING-TOP: 0.64em
}
.cSafetyPane .cExtendedSafetyMessage {
	PADDING-TOP: 0.64em
}
.cInfoPane SPAN.cLinks {
	WHITE-SPACE: nowrap
}
.cInfoPane {
	CLEAR: both; BORDER-RIGHT: red 1px solid; BORDER-TOP: red 1px solid; FONT-SIZE: 1em; BORDER-LEFT: red 1px solid; COLOR: #534080; BORDER-BOTTOM: red 1px solid; FONT-FAMILY: Tahoma; BACKGROUND-COLOR: #ffffae
}
.InfoPane {
	CLEAR: both; MARGIN-TOP: 20px; MARGIN-LEFT: 10px; WIDTH: auto; MARGIN-RIGHT: 10px
}
.dManageFoldersImageCol {
	WIDTH: 25px; TEXT-ALIGN: center
}
.dManageFoldersCheckboxCol {
	WIDTH: 20px; TEXT-ALIGN: center
}
.dManageFoldersFolderNameCol {
	PADDING-LEFT: 5px
}
.dManageFoldersEmptyLinkCol {
	WIDTH: 13%; TEXT-ALIGN: center
}
.dManageFoldersTotalCountCol {
	WIDTH: 13%
}
.dManageFoldersUnreadCountCol {
	TEXT-ALIGN: center
}
.dManageFoldersFolderSizeCol {
	WIDTH: 13%
}
.dManageFoldersRow {
	HEIGHT: 23px
}
.dManageFoldersRow TH {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px
}
.dManageFoldersRow TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px
}
.dDisplayNone {
	DISPLAY: none
}
.dRenameFolderFirstCol {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; WIDTH: 5%; PADDING-TOP: 5px; WHITE-SPACE: nowrap
}
.dAddFolderFirstCol {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; WIDTH: 5%; PADDING-TOP: 5px; WHITE-SPACE: nowrap
}
.dAddRenameGroupFirstCol {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; WIDTH: 5%; PADDING-TOP: 5px; WHITE-SPACE: nowrap
}
.dRenameFolderSecondCol {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; WHITE-SPACE: nowrap
}
.dAddFolderSecondCol {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; WHITE-SPACE: nowrap
}
.dAddRenameGroupSecondCol {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; WHITE-SPACE: nowrap
}
.SpellCheckerCaptionCol {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0.69em; MIN-HEIGHT: 6em; PADDING-BOTTOM: 0px; WIDTH: 14em; PADDING-TOP: 0px
}
.SpellCheckerInputCol {
	MARGIN: 0px 0.33em; WIDTH: 320px
}
.SpellCheckerActionCol {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1em; PADDING-TOP: 0px
}
.SpellCheckerHighlightedText {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 0.69em; BORDER-TOP: 1px solid; PADDING-LEFT: 0.69em; PADDING-BOTTOM: 0.69em; BORDER-LEFT: 1px solid; WIDTH: auto; PADDING-TOP: 0.69em; BORDER-BOTTOM: 1px solid; HEIGHT: 10em; BACKGROUND-COLOR: white
}
.SpellCheckerActionButton {
	OVERFLOW: visible; WIDTH: 12em; HEIGHT: 2em
}
.SpellCheckerInput {
	WIDTH: 100%
}
.ContactPickerInlineList {
	OVERFLOW-Y: auto; OVERFLOW: hidden; HEIGHT: 660px
}
.ContactPickerInlineList UL {
	LIST-STYLE-TYPE: none
}
.ContactPickerInlineList LI {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.ContactPickerInlineList LI {
	DISPLAY: block; OVERFLOW: hidden; WIDTH: 128px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.ContactPickerInlineList LI A {
	DISPLAY: block; OVERFLOW: hidden; WIDTH: 128px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.ContactPickerInlineTableTitle {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.ContactPickerInlineTable TR {
	VERTICAL-ALIGN: top
}
#contactPickerToArrow {
	POSITION: relative; TOP: 2.2em
}
#contactPickerCcArrow {
	POSITION: relative; TOP: 4.4em
}
#contactPickerBccArrow {
	POSITION: relative; TOP: 6.6em
}
#manageGroups UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#manageGroups UL LI INPUT {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 20px; BORDER-BOTTOM: 0px; TEXT-ALIGN: center
}
.cUpsellMessage {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; MARGIN: 0px 10px; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffffae
}
.smcMainContentContainer {
	WIDTH: 100%; HEIGHT: 100%
}
.smcMainContentContainer TABLE {
	BORDER-COLLAPSE: collapse
}
.existingAttTable TD {
	PADDING-BOTTOM: 2px; PADDING-TOP: 3px; WHITE-SPACE: nowrap
}
.existingAttTable TH {
	PADDING-BOTTOM: 2px; PADDING-TOP: 3px; WHITE-SPACE: nowrap
}
.smcMainContentContainer TD {
	PADDING-BOTTOM: 2px; PADDING-TOP: 3px
}
.smcMainContentContainer TH {
	PADDING-BOTTOM: 2px; PADDING-TOP: 3px
}
.smcNameInputLabel {
	PADDING-RIGHT: 10px; WHITE-SPACE: nowrap
}
.smcRecipientsEmail {
	OVERFLOW: hidden; WIDTH: 90%; TEXT-OVERFLOW: ellipsis
}
.smcNameInput {
	WIDTH: 60%; HEIGHT: 1.7em
}
.smcNewContactsContainer {
	MARGIN: 12px 6px
}
.smcRecipientsContainer {
	MARGIN: 12px 6px
}
.smcPotentialContactsContainer {
	MARGIN: 12px 6px
}
.smcInbox {
	MARGIN: 12px 6px
}
.smcCcm {
	MARGIN: 12px 6px
}
.smcMessageTd {
	MARGIN: 12px 6px
}
.attachmentBodyTable {
	MARGIN: 12px 6px
}
.attachmentTable {
	MARGIN: 12px 6px
}
.attCenterContent {
	WIDTH: 386px
}
.attachmentTable {
	WIDTH: 100%
}
.smcNewContactsContainer {
	WIDTH: auto
}
.smcRecipientsContainer {
	WIDTH: auto
}
.smcPotentialContactsContainer {
	WIDTH: auto
}
.smcRecipient {
	WIDTH: 60%
}
.smcCcm {
	WIDTH: 300px; HEIGHT: 125px
}
.smcCheckboxCol {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px
}
.attFileCol {
	WIDTH: 70%
}
.attSizeCol {
	WIDTH: 15%
}
.attFtrRow {
	FONT-WEIGHT: bold
}
.attRemoveCol {
	WIDTH: 15%; TEXT-ALIGN: center
}
.smcLabelCol {
	WIDTH: 10%
}
.smcCheckBox {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.smcInputCol {
	WIDTH: 90%
}
.dCalendarFrame {
	MARGIN-LEFT: 5px; MARGIN-RIGHT: 5px
}
#inbox {
	
}
 HTML .dInboxContentTableCheckBoxCol INPUT {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.dInboxContentTableImportanceCol {
	WIDTH: 20px
}
.dInboxContentTableSentStateCol {
	WIDTH: 20px
}
.dInboxContentTableAttachmentCol {
	WIDTH: 20px
}
.dInboxContentTableCheckBoxCol {
	WIDTH: 20px
}
.dInboxContentTableFromCol {
	WIDTH: 200px
}
.from {
	BACKGROUND: red; OVERFLOW: hidden; WIDTH: 196px! important; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.dInboxContentTableTitleCol {
	WIDTH: 55%
}
.dInboxContentTableDateCol {
	WIDTH: 10%
}
.dInboxContentTableSizeCol {
	WIDTH: 10%
}
.dItemListHeader {
	HEIGHT: 25px; BACKGROUND-COLOR: #ffffff
}
.dItemListContentTable TR.dInboxContentItemUnread  {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #fdfbe7! important
}
.dItemListContentTable TR.dInboxContentItemUnread {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #fdfbe7! important
}
.dItemListContentTable TD {
	BACKGROUND-COLOR: #fff! important
}
.dItemListContentTable TD  {
	BACKGROUND-COLOR: #fff! important
}
.dItemListHeaderMsgInfo {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.dItemListHeader .dItemListHeaderNav LI {
	LIST-STYLE-TYPE: none; HEIGHT: 100%
}
.dItemListHeader .dItemListHeaderNav LI A {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 7px; PADDING-TOP: 7px
}
.dItemListHeader .dItemListHeaderNav LI DIV {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 7px; PADDING-TOP: 7px
}
.dItemListContentTable {
	WIDTH: 100%
}
.dItemListContentTable TR INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.dItemListContentTable .dItemListReadOnlyHdrRow TH {
	PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.dItemListContentTable TR A {
	DISPLAY: block; PADDING-BOTTOM: 2px; OVERFLOW: hidden; WIDTH: 100%; PADDING-TOP: 2px
}
.dItemListContentTable TR TH A {
	PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.dItemListContentTable TR TD IMG {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; BORDER-TOP: medium none; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: medium none; PADDING-TOP: 0px; BORDER-BOTTOM: medium none
}
.dItemListContentTable TR TD INPUT {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.dItemListContentTable TR TH INPUT {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.dItemListContentNoMsg {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#contactList {
	
}
.dAlphaPicker UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 7px; MARGIN: 0px; PADDING-TOP: 7px; LIST-STYLE-TYPE: none; HEIGHT: 100%
}
.dContactListTableNameCol {
	OVERFLOW: hidden
}
 HTML .dContactListTableNameCol {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.dContactListTableEmailCol {
	OVERFLOW: hidden; WIDTH: 37%
}
.dContactListTablePhoneCol {
	OVERFLOW: hidden; WIDTH: 30%
}
.dContactListTableCheckboxCol {
	WIDTH: 25px; TEXT-ALIGN: center
}
.dContactListTablePresenceCol {
	WIDTH: 1%
}
.dComposeHeader {
	PADDING-TOP: 4px
}
.ContactPickerInlineTable {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BACKGROUND: white; BORDER-BOTTOM-WIDTH: 1px; WIDTH: 150px; BORDER-COLLAPSE: separate; HEIGHT: 100%; BORDER-RIGHT-WIDTH: 1px
}
.ContactPickerInlineList {
	WIDTH: 150px
}
.ContactPickerInlineList UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.dComposeInfo {
	CLEAR: both; MARGIN: 0px 4px 4px
}
.dComposeItemLabel {
	LINE-HEIGHT: 1.7em; WHITE-SPACE: nowrap
}
.dComposeItemLabel IMG {
	MARGIN: auto 3px; VERTICAL-ALIGN: middle
}
.dSubmitButtonImage {
	VERTICAL-ALIGN: middle
}
.dComposeItemLabel A:hover {
	TEXT-DECORATION: underline
}
.dComposeItemInput {
	WIDTH: 100%
}
.dComposeItemInput INPUT {
	WIDTH: 100%; HEIGHT: 1.7em
}
.dComposeBody {
	CLEAR: both
}
.cEditRow {
	CLEAR: both
}
.cEditHeader {
	CLEAR: both
}
#readMsg {
	MIN-HEIGHT: 21em; HEIGHT: 21em; BACKGROUND-COLOR: white
}
.dReadMsgHeader {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; PADDING-TOP: 2px
}
 HTML .dReadMsgHeader {
	HEIGHT: 1%
}
.dReadMsgHeaderItem {
	CLEAR: both; MARGIN: 3px 0px
}
.dReadMsgHeaderItemSec {
	CLEAR: both; MARGIN: 3px 0px
}
.dReadMsgHeaderItemSec {
	MIN-HEIGHT: 19px; MARGIN: 0px
}
.fromPresence IMG {
	VERTICAL-ALIGN: middle
}
.dReadMsgHeaderReplyTo {
	DISPLAY: inline
}
.dReadMsgHeaderTo {
	DISPLAY: inline
}
.dReadMsgHeaderCC {
	DISPLAY: inline
}
.dReadMsgHeaderBcc {
	DISPLAY: inline
}
.dReadMsgHeaderSubject {
	DISPLAY: inline
}
.dOpenMessageNotify {
	MARGIN: 0px 5px; TEXT-ALIGN: center
}
.dMessageBodyLeftPlaceHolder {
	WIDTH: 5px
}
.dPlainTextMessageBody PRE {
	WHITE-SPACE: normal
}
.dMessageLevel {
	MARGIN-TOP: -2px; VERTICAL-ALIGN: bottom
}
.dSafetyBarPri-high {
	BACKGROUND-COLOR: #ffaeb9
}
.dSafetyBarPri-medium {
	BACKGROUND-COLOR: #ffffae
}
.dSafetyBarPri-low {
	BACKGROUND-COLOR: #fff
}
.dSafetyBarItem {
	CLEAR: both; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.dSafetyBarItem A {
	MARGIN: 0px 1em
}
.dMainContactContainer {
	POSITION: relative; HEIGHT: 1%
}
.dContactsReadPane {
	OVERFLOW: visible; WIDTH: 100%; POSITION: relative
}
.cEditHeader {
	WIDTH: 60%
}
DIV .NotEligible {
	DISPLAY: none
}
.MSN_BLOCKPICKER .MSN_BLOCK_ITEM {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #fff 1px solid
}
.MSN_BLOCKPICKER {
	BACKGROUND: #fff
}
.MSN_COLORPICKER {
	BACKGROUND: #fff
}
.MSN_INSERTLINK {
	BACKGROUND: #fff
}
.MSN_EDITCONTAINER {
	BACKGROUND: #fff; BORDER-BOTTOM: 0px
}
.MSN_EDITBOX {
	BACKGROUND: #fff; BORDER-BOTTOM: 0px
}
.MSN_EDITBOX A {
	COLOR: #0068cf
}
.cCalendarFrame {
	MARGIN-LEFT: 8px; WIDTH: 99%; HEIGHT: 100%
}
.cCalendarBody {
	OVERFLOW: auto
}
.cInstallContainer {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em
}
