@charset "UTF-8";
/* CSS Document */
*{
	-webkit-tap-highlight-color: transparent;
}

body{
	margin:0;
	padding:0;
	text-align:center;
	-webkit-user-select:none;
}

.loadmask {
    z-index: 100;
    position: absolute;
    top:0;
    left:0;
    opacity: .50;
    background-color: #CCC;
    width: 100%;
    height: 100%;
	
}
.loadmask-msg {
    z-index: 20001;
    position: absolute;
    top: 0;
    left: 0;
    border:1px solid #6593cf;
    background: #c3daf9;
    padding:2px;
}
.loadmask-msg div {
    padding:5px 10px 5px 25px;
    line-height: 16px;
	border:1px solid #a3bad9;
    color:#222;
    font:normal 11px tahoma, arial, helvetica, sans-serif;
    cursor:wait;
}

a, a:link, a:visited, a:hover, a:active{text-decoration:none;}

.header{height:75px; line-height:73px; border-bottom:2px solid #666; margin:0 auto 0 35px; position:relative;}
.header span{text-align:center; font-size:30px; color:#000; font-weight:bold; display:block; margin:0 auto; width:270px; height:73px; line-height:73px; vertical-align:middle; overflow:hidden; word-break:break-all;}
.header a{width:58px; height:73px; border:0; display:block; margin:0; padding:0; overflow:hidden; position:absolute; top:0;}
.header button{border:0; display:block; margin:20px; padding:0; overflow:hidden; position:absolute; top:0; cursor:pointer; background-color:#fff;}
.header button em{color:#5C5C5C; display:block; height:34px; line-height:34px; width:70px; font-size:14px; text-align:center; -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px;border-radius:5px; border:1px solid #999;}
.header button em:active{border:1px solid #cc3838;}
#btn1{left:5px; display: none;}
#btn2{right:85px; }
#btn3{right:5px;display: none;}
#btn4{right:5px; }

.cards1{white-space:normal; padding-top:10px; padding-left:35px; padding-right:35px;}
.showimg{margin:0 1px 1px 0; width:85px;height:85px; disply:block; float:left;}
.showpic{
	background: #fff;
	overflow: hidden;
	opacity: 0.9;
	-webkit-transition: all 1500ms linear;

	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	-webkit-box-shadow: -3px -3px 50px #666;
	-moz-box-shadow: -3px -3px 50px #666;
	box-shadow: -3px -3px 50px #666;
}


/* tags */


#tagcardView{
	position:absolute;
	width:268px;
	height:100%;
	background-color:#00FFCC;
	z-index:102;
	top:0;
	left:800px;
}

#btnGuanbi{
	margin-right:10px;

}

#tagCardScroll{
	width:100%;
	height:100%;
	background-color:#00FF00;
}

#cardScroll {
	width:2400px;
	height:100%;
	float:left;
}

#cardScroll ul {
	list-style:none;
	display:block;
	float:left;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	text-align:left;
}

#cardScroll li {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	display:block; float:left;
	list-style:none;
	padding-top:10px;
	padding-left:33px;
	padding-right:10px; 
	margin:0;
	width:768px;
}

#nav{
	width:140px;
	margin: 25px auto;

}

#indicator, #indicator > li {
	display:block; float:left;
	list-style:none;
	padding:0; margin:0;

}


#indicator > li {
	text-indent:-9999em;
	width:8px; height:8px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background:#ddd;
	overflow:hidden;
	margin-right:4px;
	display:inline;
}

#indicator > li.active {
	background:#888;
}

#indicator > li:last-child {
	margin:0;
}