<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
<bean id="affixService" class="com.mpaike.affix.service.AffixServiceImpl" autowire="byName"/>
<bean id="affixConfig" class="com.mpaike.affix.service.AffixConfig" >
	<property name="baseDir" value="d:\affix"/><!-- 附件上传目录 -->
	<property name="dirs">
		<map>
			<entry key="1" value="temp"/><!-- 类型为1的附件的子目录 -->
		</map>
	</property>
</bean>
    
</beans>