<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<bean name="pictureDao" class="com.mpaike.image.dao.impl.PictureDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean name="botSpider" class="com.mpaike.bot.spider.BotSpider">
		<property name="path">
			<value>${botspider.path}</value>
		</property>
		<property name="pictureDao" ref="pictureDao"/>
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
</beans>