<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
		xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
			
	<!-- POOL配置 -->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxActive"  value="${jedis.maxActive}" />
        <property name="maxIdle" value="${jedis.maxIdle}" />
        <property name="maxWait" value="${jedis.maxWait}" />
        <property name="testOnBorrow"  value="${jedis.testOnBorrow}"/>
        <property name="whenExhaustedAction" value="${jedis.whenExhaustedAction}"/>
    </bean>

    <!-- jedis shard信息配置 --> 
    <bean id="jedis.shardInfo" class="redis.clients.jedis.JedisShardInfo">
        <constructor-arg index="0" value="${jedis.url}" />
        <constructor-arg index="1" value="${jedis.port}" />
        <constructor-arg index="2" value="${jedis.timeout}" />
    </bean>

    <!-- jedis shard pool配置 -->
    <bean id="shardedJedisPool" class="redis.clients.jedis.ShardedJedisPool">
        <constructor-arg index="0" ref="jedisPoolConfig" />
        <constructor-arg index="1">
            <list>
                <ref bean="jedis.shardInfo" />
            </list>
        </constructor-arg>
    </bean>
    
	<!-- dao -->
    <bean id="keyValueDao" class="com.mpaike.util.dao.redis.KeyValueDao">
    	<constructor-arg index="0" ref="shardedJedisPool" />
    </bean>
    
</beans>
