<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- 系统dao -->
	<bean name="sysUserDao" class="com.mpaike.user.dao.impl.SysUserDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean name="sysPopedomDao" class="com.mpaike.user.dao.impl.SysPopedomDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean name="sysLogDao" class="com.mpaike.sys.dao.impl.SystemLogDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean name="sysRoleDao" class="com.mpaike.user.dao.impl.SysRoleDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean name="sysMenuDao" class="com.mpaike.user.dao.impl.SysMenuDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 系统dao -->
	
	<bean name="baseService" class="com.mpaike.sys.service.impl.BaseServiceImpl"
		abstract="true">
		<!-- 系统dao -->
		<property name="sysUserDao" ref="sysUserDao"/>
		<property name="sysPopedomDao" ref="sysPopedomDao"/>
		<property name="sysLogDao" ref="sysLogDao"/>
		<property name="sysRoleDao" ref="sysRoleDao"/>
		<property name="sysMenuDao" ref="sysMenuDao"/>
		<!-- 系统dao -->
		<property name="webUrlDao" ref="webUrlDao"/>
		<property name="memberDao" ref="memberDao"/>
		<property name="pictureDao" ref="pictureDao"/>
	</bean>
	

	
	<bean name="memberDao" class="com.mpaike.member.dao.impl.MemberDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean name="webUrlDao" class="com.mpaike.bot.dao.impl.WebUrlDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean name="pictureDao" class="com.mpaike.image.dao.impl.PictureDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	

</beans>