<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
		xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- 利用SPRING的手动代理 -->

	<bean id="systemLogService"
		class="cn.com.icore.sys.service.impl.SystemLogServiceImpl"
		autowire="byName" lazy-init="true"/>
	<bean id="sysUserService"
		class="cn.com.icore.user.service.impl.SysUserServiceImpl"
		autowire="byName" />
	<bean id="sysGroupService"
		class="cn.com.icore.user.service.impl.SysGroupServiceImpl"
		autowire="byName" />
	<bean id="dictionaryService"
		class="cn.com.icore.dictionary.service.impl.DictionaryServiceImpl"
		autowire="byName" />
	<bean id="sysRoleService"
		class="cn.com.icore.user.service.impl.SysRoleServiceImpl"
		autowire="byName" />
	<bean id="sysMenuService"
		class="cn.com.icore.user.service.impl.SysMenuServiceImpl"
		autowire="byName" scope="prototype"/>
	<bean id="sysPopedomService"
		class="cn.com.icore.user.service.impl.SysPopedomServiceImpl"
		autowire="byName" />
	
</beans>