.tree li button.tagc.ico_open{ background:url(./img/sim/4.png);}
.tree li button.tagc.ico_close{ background:url(./img/sim/4.png);}
.tree li button.tagc.ico_docu{ background:url(./img/sim/4.png);}
.tree li button.tagi.ico_open{ background:url(./img/sim/5.png);}
.tree li button.tagi.ico_close{ background:url(./img/sim/5.png);}
.tree li button.tagi.ico_docu{ background:url(./img/sim/5.png);}
.tree li button.tagic.ico_open{ background:url(./img/sim/3.png);}
.tree li button.tagic.ico_close{ background:url(./img/sim/3.png);}
.tree li button.tagic.ico_docu{ background:url(./img/sim/3.png);}
.tree li button.tagih.ico_open{ background:url(./img/sim/2.png);}
.tree li button.tagih.ico_close{ background:url(./img/sim/2.png);}
.tree li button.tagih.ico_docu{ background:url(./img/sim/2.png);}
