@charset "UTF-8";
/* CSS Document */
.p1 {
	background:transparent url("../page1.jpg") no-repeat 0px 0px;
}

.p2 {
	background:transparent url("../page1.jpg") no-repeat -85px 0px;
}

.p3 {
	background:transparent url("../page1.jpg") no-repeat -170px 0px;
}

.p4 {
	background:transparent url("../page1.jpg") no-repeat -255px 0px;
}

.p5 {
	background:transparent url("../page1.jpg") no-repeat -340px 0px;
}

.p6 {
	background:transparent url("../page1.jpg") no-repeat -425px 0px;
}

.p7 {
	background:transparent url("../page1.jpg") no-repeat -510px 0px;
}

.p8 {
	background:transparent url("../page1.jpg") no-repeat -595px 0px;
}

.p9 {
	background:transparent url("../page1.jpg") no-repeat 0px -85px;
}

.p10 {
	background:transparent url("../page1.jpg") no-repeat -85px -85px;
}

.p11 {
	background:transparent url("../page1.jpg") no-repeat -170px -85px;
}

.p12 {
	background:transparent url("../page1.jpg") no-repeat -255px -85px;
}

.p13 {
	background:transparent url("../page1.jpg") no-repeat -340px -85px;
}

.p14 {
	background:transparent url("../page1.jpg") no-repeat -425px -85px;
}

.p15 {
	background:transparent url("../page1.jpg") no-repeat -510px -85px;
}

.p16 {
	background:transparent url("../page1.jpg") no-repeat -595px -85px;
}

.p17 {
	background:transparent url("../page1.jpg") no-repeat 0px -170px;
}

.p18 {
	background:transparent url("../page1.jpg") no-repeat -85px -170px;
}

.p19 {
	background:transparent url("../page1.jpg") no-repeat -170px -170px;
}

.p20 {
	background:transparent url("../page1.jpg") no-repeat -255px -170px;
}

.p21 {
	background:transparent url("../page1.jpg") no-repeat -340px -170px;
}

.p22 {
	background:transparent url("../page1.jpg") no-repeat -425px -170px;
}

.p23 {
	background:transparent url("../page1.jpg") no-repeat -510px -170px;
}

.p24 {
	background:transparent url("../page1.jpg") no-repeat -559px -170px;
}

.p25 {
	background:transparent url("../page1.jpg") no-repeat 0px -255px;
}

.p26 {
	background:transparent url("../page1.jpg") no-repeat -85px -255px;
}

.p27 {
	background:transparent url("../page1.jpg") no-repeat -170px -255px;
}

.p28 {
	background:transparent url("../page1.jpg") no-repeat -255px -255px;
}

.p29 {
	background:transparent url("../page1.jpg") no-repeat -340px -255px;
}

.p30 {
	background:transparent url("../page1.jpg") no-repeat -425px -255px;
}

.p31 {
	background:transparent url("../page1.jpg") no-repeat -510px -255px;
}

.p32 {
	background:transparent url("../page1.jpg") no-repeat -595px -255px;
}


